<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Staff</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>
<body>
    <form action="/add/staff" method="post" class="ui form">
    <label>Name</label>
        <div class="fields">
           <input class="five wide field" type="text" name="firstname" placeholder="FirstName">
            <input class="five wide field" type="text" name="lastname" placeholder="LastName">
        </div><br>
        <label>Father Name/Husband Name</label>
        <div class="fields">
                <input class="five wide field" type="text" name="firstnamef" placeholder="FirstName">
                 <input class="five wide field" type="text" name="lastnamef" placeholder="LastName">
             </div><br>
             <label>Age</label><br>
             <input class="field" type="number" name="age" placeholder="Age" value="0"><br>
             <label>CNIC</label><br>
             <input class="field" type="text" name="cnic" placeholder="xxxxx-xxxxxxx-x"><br>
             <label>Post</label><br>
             <input class="field" type="text" name="post" ><br>
             <label>Sellery</label><br>
             <input class="field" type="number" name="sellery" placeholder="0000"><br>
             <button class="ui positive button" type="submit">Submit</button>
    </form>
</body>
</html>